tools/req_schema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parent" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="parents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parent" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="partition">
    <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="AF"/>
      <xs:enumeration value="CS"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="FC"/>
      <xs:enumeration value="FCP"/>
      <xs:enumeration value="PDB"/>
      <xs:enumeration value="NAV"/>
      <xs:enumeration value="RX"/>
      <xs:enumeration value="TX"/>
      <xs:enumeration value="FCS"/>
      <xs:enumeration value="FCPS"/>
      <xs:enumeration value="PDBS"/>
      <xs:enumeration value="NAVS"/>
      <xs:enumeration value="DDS"/>
    </xs:restriction>
  </xs:simpleType>
  </xs:element>
  <xs:element name="reason" type="xs:string"/>
  <xs:element name="requirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="parents" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="partition" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="design-decision">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="reason" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="module">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="requirement" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="design-decision" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="title"/>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>